{% extends 'layouts/admin_master.twig' %}

{% block content %}
	{% for alert in app.session.flashbag.get('delete')%}
        <p>{{alert}}</p>
    {% endfor %}
	<a href="/admin/admins/create">Ajouter</a>
	<div class="content">
		<div class="row">
			<div class="offset-1 col-2"><strong>Nom</strong></div>
			<div class="col-2"><strong>Prénom</strong></div>
			<div class="col-2"><strong>Email</strong></div>

		</div>
		{% for user in data %}
		    <div class="row">
		    	<div class="offset-1 col-2">
		    		<p>{{user.name}}</p>
		    	</div>
		    	<div class="col-2">
		    		<p>{{user.second_name}}</p>
		    	</div>
		    	<div class="col-2">
		    		<p>{{user.mail}}</p>
		    	</div>
		    	<div class="col-2">
		    		<a href="/admin/admins/edit/{{user.id}}">modifier</a>
		    	</div>
		    	<div class="col-2">
		    		<a href="/admin/admins/delete/{{user.id}}">supprimer</a>
		    	</div>
		    </div>
		{% endfor %}
	</div>
{% endblock %}