{% extends 'layouts/admin_master.twig' %}

{% block content %}
	{% for alert in app.session.flashbag.get('delete')%}
        <p>{{alert}}</p>
    {% endfor %}
	<a href="/admin/administrateurs/create">Ajouter</a>
	<div class="content">
		{% for user in data %}
		    <div class="row">
		    	<div class="col-3">
		    		{{user.mail}}
		    	</div>
		    	<div class="col-3">
		    		{{user.password}}
		    	</div>
		    	<div class="col-3">
		    		<a href="/admin/administrateurs/edit/{{user.id}}">modifier</a>
		    	</div>
		    	<div class="col-3">
		    		<a href="/admin/administrateurs/delete/{{user.id}}">supprimer</a>
		    	</div>
		    </div>
		{% endfor %}
	</div>
{% endblock %}